Repository FORTH-ICS-INSPIRE/artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: kubernetes, backend, frontend, monitor, taps, testing, javascript, configuration, database, detection, mitigation

.github/labeler.yml:

kubernetes:
- artemis-chart/**/*

backend:
- backend/**/*

frontend:
- frontend/**/*

monitor:
- monitor/**/*

taps:
- monitor/core/taps/**/*

testing:
- backend/testing/**/*
- backend/docker-compose.test-backend.yml
- backend/entrypoint.test

javascript:
- frontend/**/*.js

configuration:
- backend/configs/**/*
- other/frontend/configs/**/*
- monitor/configs/**/*

database:
- other/db/**/*
- backend/core/database.py

detection:
- backend/core/detection.py

mitigation:
- backend/core/mitigation.py

minor fixes for compatibility with new frontend
  .dockerignore
  .gitignore
  other/frontend/configs/certs/cert.pem
  other/frontend/configs/certs/key.pem
  other/frontend/configs/nginx.conf
Labels: configuration

deactivating unconfigured prefix warning in prefix tree
  backend-services/prefixtree/core/prefixtree.py
Labels: none

reactivated prefixtree warnings and added rfc2622 tests for v6 prefixes
  backend-services/prefixtree/core/prefixtree.py
  docs/changelog.md
  testing/detection/configs/config3.yaml
  testing/detection/testfiles/rfc2622.json
Labels: none

test config changes
  testing/detection/configs/config.yaml
Labels: none

k8s and docs updates for new frontend, ongoing work
  .env
  artemis-chart/Chart.yaml
  artemis-chart/README.md
  artemis-chart/files/configmaps/nginx.conf
  artemis-chart/files/configmaps/webapp.cfg
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/values.yaml
  docs/envvars.md
  docs/frontendconf.md
  docs/installsetup.md
  docs/kubernetes.md
  docs/ldapconf.md
  docs/loggingconf.md
  docs/logic.md
  docs/movingrepo.md
  docs/upgrade.md
  docs/webapp.md
  mkdocs.yml
  other/verify_script.py
Labels: kubernetes

mongo + k8s fixes for new frontend, incl. pvcs
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/mongodb-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/values.yaml
  docker-compose.yaml
  other/example-values.yaml
Labels: kubernetes

changes to support most recent UI, 401 unauthorized pending
  .env
  artemis-chart/README.md
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/mongodb-deployment.yaml
  artemis-chart/templates/redis-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/values.yaml
  docker-compose.yaml
  docs/envvars.md
  docs/installsetup.md
  docs/kubernetes.md
  docs/webapp.md
  other/example-values.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

minor fix with frontend env vars in k8s, only ldap remaining
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/mongodb-deployment.yaml
  docker-compose.yaml
  docs/envvars.md
Labels: kubernetes

docs and ldap updates in k8s
  artemis-chart/README.md
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/ldap-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/values.yaml
  docs/envvars.md
  docs/images/screenshot/bgpupdates.png
  docs/images/screenshot/config_comparison.png
  docs/images/screenshot/dashboard.png
  docs/images/screenshot/hijack.png
  docs/images/screenshot/hijacks.png
  docs/images/screenshot/learn_rule.png
  docs/images/screenshot/login.png
  docs/images/screenshot/password_change.png
  docs/images/screenshot/signup.png
  docs/images/screenshot/system.png
  docs/images/screenshot/user_management.png
  docs/installsetup.md
  docs/kubernetes.md
  docs/ldapconf.md
  docs/webapp.md
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

added new .env vars in sync with artemis-web
  .env
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/values.yaml
  docker-compose.yaml
  docs/envvars.md
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

removing test ldap container (not needed)
  artemis-chart/templates/ldap-deployment.yaml
  artemis-chart/values.yaml
  docker-compose.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

auth api for logging in [ci skip]
  docs/api-documentation.html
  docs/swagger.json
  docs/webapp.md
Labels: none

minor in docker version release [ci skip]
  docker-compose.yaml
  other/make_release.sh
  vagrant-vm/vagrant-docker-compose.yaml
Labels: none

minor in verification script [ci skip]
  .pre-commit-config.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/values.yaml
  other/example-values.yaml
  other/verify_script.py
Labels: kubernetes

properly running pre-commit
  backend-services/configuration/core/configuration.py
  backend-services/configuration/core/tests/test_configuration.py
  monitor-services/exabgptap/core/exabgp_client.py
  testing/autoconf/tester.py
  testing/autoignore/tester.py
  testing/detection/tester.py
  testing/rpki/tester.py
Labels: none

proper changelog documentation to include in release [ci skip]
  docs/changelog.md
  docs/upgrade.md
Labels: none

finalizing integration PR
  .env
  artemis-chart/README.md
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/secrets.yaml
  docker-compose.yaml
  docs/api-documentation.pdf
  docs/changelog.md
  docs/envvars.md
  docs/installsetup.md
  docs/kubernetes.md
  docs/swagger.json
  docs/swagger.yaml
  docs/webapp.md
  other/example-values.yaml
  other/verify_script.py
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

minor in pvc annotations [ci skip]
  artemis-chart/values.yaml
Labels: kubernetes
