Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2018-12, with the labels that each got.

#3 move js libraries to cdn
  frontend/webapp/static/js/codemirror.js
  frontend/webapp/static/js/custom/display_info-prod.js
  frontend/webapp/static/js/custom/graphql-prod.js
  frontend/webapp/static/js/custom/ripestat-prod.js
  frontend/webapp/static/js/custom/ripestat.js
  frontend/webapp/static/js/custom/utils-prod.js
  frontend/webapp/static/js/d3-graphviz.js
  frontend/webapp/static/js/daterangepicker.min.js
  frontend/webapp/static/js/dialog.js
  frontend/webapp/static/js/diff_match_patch.js
  frontend/webapp/static/js/merge.js
  frontend/webapp/static/js/moment-with-locales.min.js
  frontend/webapp/static/js/search.js
  frontend/webapp/static/js/searchcursor.js
  frontend/webapp/static/js/textile.js
  frontend/webapp/static/js/viz.js
  frontend/webapp/static/js/yaml.js
  frontend/webapp/static/rrcs_info/collectors_info.json
  frontend/webapp/templates/index.htm
  frontend/webapp/views/actions/templates/new_password.htm
  frontend/webapp/views/admin/templates/system.htm
  frontend/webapp/views/admin/templates/user_management.htm
  frontend/webapp/views/main/templates/bgpupdates.htm
  frontend/webapp/views/main/templates/config_comparison.htm
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
  frontend/webapp/views/main/templates/viz.htm
Labels: frontend

#4 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github, issues, templates

#5 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: conduct, github

#6 Code Quality Improvements
  .bandit
  backend/Dockerfile
  backend/core/database.py
  backend/core/detection.py
  backend/core/listener.py
  backend/core/mitigation.py
  backend/core/monitor.py
  backend/core/observer.py
  backend/core/scheduler.py
  backend/core/taps/betabmp.py
  backend/core/taps/bgpstreamhist.py
  backend/core/taps/bgpstreamlive.py
  backend/core/taps/exabgp_client.py
  backend/core/taps/utils.py
  frontend/webapp/configs/config.py
  frontend/webapp/core/__init__.py
  frontend/webapp/core/actions.py
  frontend/webapp/core/fetch_config.py
  frontend/webapp/core/modules.py
  frontend/webapp/templates/forms/__init__.py
  frontend/webapp/views/actions/actions_view.py
  frontend/webapp/views/main/main_view.py
  migrate/migrate.py
  other/parsers_collectors/parse_collectors.py
Labels: backend, frontend
