Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-10, with the labels that each got.

#245 Backend Throughput Tests
  CHANGELOG.md
  benchmark/Dockerfile
  benchmark/configs/config.yaml
  benchmark/configs/logging.yaml
  benchmark/entrypoint
  benchmark/executor.py
  benchmark/requirements.txt
  benchmark/supervisor.d/services.conf
  benchmark/wait-for
  docker-compose.benchmark.yaml
  monitor/core/taps/custom.py
Labels: monitor, taps

#242 Check Kubernetes Version, use correct API, services per Release and Fix logging
  CHANGELOG.md
  artemis-chart/Chart.yaml
  artemis-chart/README.md
  artemis-chart/templates/NOTES.txt
  artemis-chart/templates/_helpers.tpl
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/graphql-deployment.yaml
  artemis-chart/templates/ingresses.yaml
  artemis-chart/templates/monitor-deployment.yaml
  artemis-chart/templates/nginx-deployment.yaml
  artemis-chart/templates/nginx-service.yaml
  artemis-chart/templates/pg-amqp-bridge-deployment.yaml
  artemis-chart/templates/postgres-deployment.yaml
  artemis-chart/templates/postgrest-deployment.yaml
  artemis-chart/templates/pvc.yaml
  artemis-chart/templates/rabbitmq-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/templates/services.yaml
  artemis-chart/templates/volumes.yaml
  frontend/webapp/configs/config.py
  frontend/webapp/configs/logging.yaml
  frontend/webapp/core/__init__.py
  frontend/webapp/core/actions.py
  frontend/webapp/core/fetch_config.py
  frontend/webapp/core/fetch_hijack.py
  frontend/webapp/core/modules.py
  frontend/webapp/core/proxy_api.py
  frontend/webapp/render/forms/__init__.py
  frontend/webapp/utils/logger.py
Labels: configuration, frontend, kubernetes

#241 Fix/extension for rekeyed outdated hijacks
  .env
  CHANGELOG.md
  artemis-chart/values.yaml
  backend/core/database.py
  backend/core/detection.py
  backend/core/utils/__init__.py
  frontend/webapp/render/views/main_view.py
Labels: backend, database, detection, frontend, kubernetes

#244 TestCafe Integration Tests
  backend/Dockerfile
  docker-compose.testcafe.yaml
  frontend/webapp/render/templates/admin/system.htm
  frontend/webapp/render/templates/main/bgpupdates.htm
  frontend/webapp/render/templates/main/hijack.htm
  frontend/webapp/render/templates/main/hijacks.htm
  frontend/webapp/render/templates/main/overview.htm
  monitor/Dockerfile
  testcafe/configs/nginx.conf
  testcafe/tests/simple-flow.js
Labels: backend, frontend, monitor

#251 Add grafana provisioning and 4 dashboards (resolves #80) and (resolve…
  docker-compose.grafana.yaml
  grafana-provisioning/dashboards/Artemis__BGP_Hijacks_per_prefix.json
  grafana-provisioning/dashboards/Artemis__BGP_Updates_per_prefix.json
  grafana-provisioning/dashboards/Artemis__BGP_Updates_per_service.json
  grafana-provisioning/dashboards/Artemis__Offending_ASes.json
  grafana-provisioning/dashboards/dashboards.yml
  grafana-provisioning/datasources/datasource.yml
Labels: enhancement

#256 Env variable WITHDRAWN_HIJACK_THRESHOLD to consider hijacks withdrawn
  .env
  CHANGELOG.md
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/core/database.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  backend/testing/testfiles/withdrawn_inorder.json
  backend/testing/testfiles/withdrawn_threshold.json
  docker-compose.benchmark.yaml
  docker-compose.testcafe.yaml
  docker-compose.yaml
Labels: backend, database, kubernetes, testing

#259 Format modified configuration files always
  CHANGELOG.md
  backend/core/configuration.py
Labels: backend, configuration

#220 change of conf_lib.py in order to support a list of dicts per prefix
  backend/core/utils/conf_lib.py
Labels: configuration
