Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-11, with the labels that each got.

#266 Added travisCI / CodeCov
  .travis.yml
  CHANGELOG.md
  README.md
  backend/Dockerfile
  backend/core/database.py
  backend/core/utils/__init__.py
  backend/entrypoint
  benchmark/entrypoint
  benchmark/executor.py
  convert_coverage.sh
  docker-compose.benchmark.yaml
  docker-compose.testbackend.yaml
  other/ci_cd/semaphore_settings.md
  other/verify_script.py
  tester/.coveragerc
  tester/Dockerfile
  tester/configs/config.yaml
  tester/configs/config2.yaml
  tester/configs/config3.yaml
  tester/configs/logging.yaml
  tester/db/data/data.sql
  tester/db/data/restore.sql
  tester/db/data/tables.sql
  tester/db/init.sql
  tester/db/libs/rabbitmq/schema.sql
  tester/entrypoint
  tester/entrypoint.test
  tester/rabbitmq/enabled-plugins
  tester/requirements.txt
  tester/supervisor.d/services.conf
  tester/tester.py
  tester/testfiles/as_range_tests.json
  tester/testfiles/as_set.json
  tester/testfiles/community_annotation.json
  tester/testfiles/implicit_withdrawal.json
  tester/testfiles/legit_updates.json
  tester/testfiles/mult_exact_type0.json
  tester/testfiles/mult_exact_type1.json
  tester/testfiles/out_of_order_withdraw.json
  tester/testfiles/out_of_order_withdraw_same_peer.json
  tester/testfiles/prepend_loops.json
  tester/testfiles/rfc2622.json
  tester/testfiles/simple_exact_no_export_violation.json
  tester/testfiles/simple_exact_type0.json
  tester/testfiles/simple_exact_type1.json
  tester/testfiles/simple_sub_type0.json
  tester/testfiles/simple_sub_type1.json
  tester/testfiles/single_sub_unknown.json
  tester/testfiles/squatting_type0.json
  tester/testfiles/wildcard_checks.json
  tester/testfiles/withdrawn_complex.json
  tester/testfiles/withdrawn_inorder.json
  tester/testfiles/withdrawn_threshold.json
  tester/wait-for
Labels: backend, database, testing

#263 resolve issue with batch selects
  CHANGELOG.md
  backend/core/database.py
  backend/core/utils/__init__.py
Labels: backend, database

#234 Database reconnect utility (Resolves #233)
  .gitignore
  CHANGELOG.md
  backend/core/database.py
  backend/core/listener.py
  backend/core/utils/__init__.py
  backend/core/utils/tool.py
  benchmark/configs/logging.yaml
  docker-compose.testautoconf.yaml
  docker-compose.testcafe.yaml
  docker-compose.testdetection.yaml
  monitor/Dockerfile
  monitor/core/listener.py
  monitor/entrypoint
Labels: backend, configuration, database, detection, frontend, mitigation, monitor, taps

#268 restart:always on all containers
  docker-compose.yaml
Labels: build

#264 Use cache for mapping Updates to Hijacks for DB Optimization
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  tester/detection/db/data/data.sql
  tester/detection/tester.py
Labels: backend, database, detection

#270 Get rid of rekey functionality (more harm than good)
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  backend/core/utils/__init__.py
Labels: backend, database, detection, monitor, taps

#273 Upgrade BGPStream to v2.0
  CHANGELOG.md
  monitor/Dockerfile
Labels: monitor

#275 Fix for betaBMP
  CHANGELOG.md
  backend/configs/autoconf-config.yaml
  backend/configs/config.yaml
  backend/core/configuration.py
  monitor/core/monitor.py
  monitor/core/taps/betabmp.py
  tester/detection/configs/config2.yaml
Labels: backend, configuration, monitor, taps

#277 Vagrant VM automation
  vagrant-vm/README.md
  vagrant-vm/Vagrantfile
  vagrant-vm/bootstrap.sh
  vagrant-vm/show_artemis_url.sh
  vagrant-vm/update_and_start_artemis.sh
  vagrant-vm/vagrant-docker-compose.yaml
Labels: vagrant

#282 Minor quick-fix in RPKI section in detection + v6 tests
  backend/core/detection.py
  docker-compose.routinator.yaml
  tester/rpki/configs/config.yaml
  tester/rpki/testfiles/test_IL.json
  tester/rpki/testfiles/test_NF.json
Labels: backend, detection

#284 Small RPKI val opt
  CHANGELOG.md
  backend/core/detection.py
Labels: backend, detection, p/medium

#285 Adding also Ws in bgpupdate_keys
  CHANGELOG.md
  backend/core/database.py
Labels: backend, database, p/high

#283 Acknowledge all rabbitmq messages
  .env
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/listener.py
  backend/core/mitigation.py
  backend/core/observer.py
  backend/migrate/migrations/scripts/migration_20.sql
  backend/migrate/migrations/target_steps.json
  frontend/webapp/core/actions.py
  monitor/core/monitor.py
  monitor/core/taps/bgpstreamhist.py
  monitor/core/taps/exabgp_client.py
  other/db/data/tables.sql
  other/db/libs/rabbitmq/schema.sql
  other/verify_script.py
  testcafe/tests/simple-flow.js
  tester/autoconf/tester.py
  tester/detection/db/data/tables.sql
  tester/rpki/db/data/tables.sql
Labels: backend, database, detection, frontend, kubernetes, mitigation, monitor, p/high, taps
