Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-02, with the labels that each got.

#48 Migration automation
  backend/Dockerfile
  backend/docker-compose.test-backend.yml
  backend/entrypoint
  backend/migrate/migrate.py
  backend/migrate/migrations/scripts/migration_1.sql
  backend/migrate/migrations/scripts/migration_2.sql
  backend/migrate/migrations/scripts/migration_3.sql
  backend/migrate/migrations/scripts/migration_4.sql
  backend/migrate/migrations/scripts/migration_5.sql
  backend/migrate/migrations/scripts/migration_6.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  docker-compose.migrate.yaml
  docker-compose.yaml
  migrate/Dockerfile
  migrate/entrypoint
  migrate/requirements.txt
  migrate/wait-for
  other/db/data/tables.sql
Labels: automation

#53 Fix bug with roles in registration (Closes #52)
  CHANGELOG.md
  frontend/webapp/core/__init__.py
Labels: frontend

#54 Redis Test (Closes #50)
  .bandit
  backend/core/database.py
  backend/core/detection.py
  backend/core/listener.py
  backend/core/taps/utils.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  backend/entrypoint
  backend/supervisor.d/services.conf
  backend/testing/db/data/tables.sql
  backend/testing/entrypoint
  backend/testing/messages.json
  backend/testing/requirements.txt
  backend/testing/tester.py
Labels: automation, backend, testing

#64 Automated JS minification with google closure
  CHANGELOG.md
  frontend/Dockerfile
  frontend/minify-js.sh
  frontend/requirements.txt
  frontend/webapp/static/js/custom/display_info-prod.js
  frontend/webapp/static/js/custom/graphql-prod.js
  frontend/webapp/static/js/custom/ripestat-prod.js
  frontend/webapp/static/js/custom/utils-prod.js
  frontend/webapp/templates/index.htm
  frontend/webapp/views/admin/templates/system.htm
  frontend/webapp/views/admin/templates/user_management.htm
  frontend/webapp/views/main/templates/bgpupdates.htm
  frontend/webapp/views/main/templates/config_comparison.htm
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
  frontend/webapp/views/main/templates/viz.htm
Labels: automation, build, frontend

#62 Support for wildcards (origin_asns, neighbors) in configuration (Closes #58)
  CHANGELOG.md
  backend/configs/config.yaml
  backend/core/configuration.py
  backend/core/detection.py
  backend/testing/configs/config.yaml
  backend/testing/messages.json
Labels: backend, configuration, detection

#65 instructions on decoupling local configuration from version control (Closes #60)
  .gitignore
  CHANGELOG.md
  README.md
  docker-compose.exabgp.yaml
  docker-compose.yaml
Labels: configuration, docs

#59 various UI improvements
  CHANGELOG.md
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/templates/index.htm
  frontend/webapp/templates/layout.htm
  frontend/webapp/templates/layout_container.htm
  frontend/webapp/templates/security/login_user.html
  frontend/webapp/templates/security/register_user.html
  frontend/webapp/views/actions/actions_view.py
  frontend/webapp/views/actions/templates/new_password.htm
  frontend/webapp/views/admin/admin_view.py
  frontend/webapp/views/admin/templates/system.htm
  frontend/webapp/views/admin/templates/user_management.htm
  frontend/webapp/views/main/templates/bgpupdates.htm
  frontend/webapp/views/main/templates/config_comparison.htm
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
  frontend/webapp/views/main/templates/viz.htm
Labels: frontend

#66 DB optimization
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  backend/core/taps/custom.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  backend/supervisor.d/services.conf
  backend/testing/rabbitmq/enabled_plugins
  docker-compose.yaml
  frontend/webapp/core/__init__.py
  frontend/webapp/core/modules.py
  other/rabbitmq/enabled_plugins
Labels: backend, database

#70 GraphQL API with JWT tokens
  CHANGELOG.md
  frontend/webapp/core/__init__.py
Labels: api, frontend

#69 Revised detection logic to account for hijack dimensions (Closes #61)
  .env
  CHANGELOG.md
  README.md
  backend/core/detection.py
  backend/migrate/migrations/scripts/migration_7.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  backend/testing/messages.json
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/views/main/templates/hijacks.htm
  other/db/data/tables.sql
Labels: database, detection

#73 Treat seen field as ack for hijack (Closes #72)
  CHANGELOG.md
  backend/core/database.py
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/views/main/templates/hijacks.htm
Labels: db, frontend

#78 Build latest container for GCC (Closes #77)
  frontend/Dockerfile
  frontend/minify-js.sh
Labels: bug, frontend

#81 Code Coverage Support
  README.md
  backend/.coveragerc
  backend/Dockerfile.test
  backend/core/scheduler.py
  backend/docker-compose.test-backend.yml
  backend/entrypoint.test
  backend/testing/supervisor.d/services.conf
  backend/testing/tester.py
Labels: automation, testing

#79 Added time_last and optimize js (Closes #71, #76)
  .env
  CHANGELOG.md
  backend/migrate/migrations/scripts/migration_8.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/utils.js
  frontend/webapp/templates/index.htm
  frontend/webapp/views/main/templates/bgpupdates.htm
  frontend/webapp/views/main/templates/hijacks.htm
  other/db/data/tables.sql
Labels: database, frontend

#84 Withdrawn peer removal optimization (Closes #83)
  CHANGELOG.md
  backend/core/database.py
  backend/testing/configs/config.yaml
  backend/testing/messages.json
  backend/testing/tester.py
Labels: db

#89 Support for rfc2622 operators in prefix configuration (Closes #85)
  CHANGELOG.md
  backend/core/configuration.py
  backend/core/utils/__init__.py
  backend/testing/configs/config.yaml
  backend/testing/messages.json
Labels: backend, configuration

#90 First version of new ris live service websocket client (Closes #82)
  .env
  CHANGELOG.md
  backend/core/configuration.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
  backend/requirements.txt
Labels: backend, taps

#98 Pre-commit hooks support
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: automation

#95 Changed RABBITMQ to use USER and PASS defined in .env (Closes #86)
  .env
  CHANGELOG.md
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/mitigation.py
  backend/core/monitor.py
  backend/core/observer.py
  backend/core/scheduler.py
  backend/core/taps/betabmp.py
  backend/core/taps/bgpstreamhist.py
  backend/core/taps/bgpstreamlive.py
  backend/core/taps/custom.py
  backend/core/taps/exabgp_client.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  backend/scripts/bgp_update.json
  backend/scripts/emit.py
  backend/scripts/two_hijacks_withdraw.json
  backend/testing/tester.py
  docker-compose.yaml
  frontend/webapp/core/actions.py
  frontend/webapp/utils/__init__.py
Labels: backend, bug, build, frontend

#92 Testing refactoring
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/listener.py
  backend/core/mitigation.py
  backend/core/monitor.py
  backend/core/observer.py
  backend/core/scheduler.py
  backend/core/taps/betabmp.py
  backend/core/taps/bgpstreamhist.py
  backend/core/taps/bgpstreamlive.py
  backend/core/taps/custom.py
  backend/core/taps/exabgp_client.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
  backend/core/utils/__init__.py
  backend/core/utils/conf_lib.py
  backend/docker-compose.test-backend.yml
  backend/migrate/migrate.py
  backend/testing/Dockerfile
  backend/testing/configs/config.yaml
  backend/testing/configs/config2.yaml
  backend/testing/supervisor.d/services.conf
  backend/testing/tester.py
  backend/testing/testfiles/legit_updates.json
  backend/testing/testfiles/mult_exact_type0.json
  backend/testing/testfiles/mult_exact_type1.json
  backend/testing/testfiles/prepend_loops.json
  backend/testing/testfiles/rfc2622.json
  backend/testing/testfiles/simple_exact_type0.json
  backend/testing/testfiles/simple_exact_type1.json
  backend/testing/testfiles/simple_sub_type0.json
  backend/testing/testfiles/simple_sub_type1.json
  backend/testing/testfiles/single_sub_unknown.json
  backend/testing/testfiles/squatting_type0.json
  backend/testing/testfiles/wildcard_checks.json
  backend/testing/testfiles/withdrawn_complex.json
  backend/testing/testfiles/withdrawn_inorder.json
  frontend/init.py
  frontend/webapp/configs/config.py
  frontend/webapp/core/__init__.py
  frontend/webapp/core/actions.py
  frontend/webapp/core/fetch_config.py
  frontend/webapp/core/modules.py
  frontend/webapp/core/proxy_api.py
  frontend/webapp/data/models.py
  frontend/webapp/templates/forms/__init__.py
  frontend/webapp/utils/__init__.py
  frontend/webapp/views/actions/actions_view.py
  frontend/webapp/views/admin/admin_view.py
  frontend/webapp/views/main/main_view.py
  other/parsers_collectors/parse_collectors.py
Labels: automation, testing

#100 Added coverage tests for frontend actions
  backend/.coveragerc
  backend/Dockerfile.test
  backend/core/database.py
  backend/docker-compose.test-backend.yml
  backend/testing/Dockerfile
  backend/testing/configs/config2.yaml
  backend/testing/db/data/data.sql
  backend/testing/db/init.sql
  backend/testing/requirements.txt
  backend/testing/tester.py
  frontend/webapp/views/actions/actions_view.py
Labels: automation, testing

#103 Auto-clean no-hijack BGP updates (Closes #33)
  .env
  docker-compose.yaml
  other/postgres-backup.sh
  other/postgres-entrypoint.sh
Labels: automation, backend, database

#94 Tooltip for peers (Closes #91)
  .env
  CHANGELOG.md
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/static/js/custom/ripestat.js
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
Labels: frontend

#111 Switched dumping from config dict to raw_config str (Closes #110)
  backend/core/database.py
Labels: backend, bug, configuration, database

#113 sort columns # Peers Seen/# ASes Infected, view hijack by key (Closes issue #88)
  CHANGELOG.md
  frontend/webapp/core/__init__.py
  frontend/webapp/templates/index.htm
  frontend/webapp/views/main/templates/hijacks.htm
Labels: frontend

#114 Fixing backend behavior when running old containers on newer DBs than intended
  CHANGELOG.md
  backend/entrypoint
  backend/entrypoint.test
Labels: backend, container, database

#117 db version on overview page (Closes #115)
  .env
  CHANGELOG.md
  backend/entrypoint
  backend/entrypoint.test
  backend/migrate/migrations/scripts/migration_10.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/static/js/custom/ripestat.js
  frontend/webapp/static/js/custom/utils.js
  frontend/webapp/templates/index.htm
  frontend/webapp/templates/layout.htm
  frontend/webapp/templates/layout_container.htm
  other/db/data/tables.sql
Labels: backend, frontend

#107 Support for dormant flag in hijacks (Closes #106)
  .env
  CHANGELOG.md
  README.md
  backend/core/database.py
  backend/entrypoint
  backend/entrypoint.test
  backend/migrate/migrations/scripts/migration_11.sql
  backend/migrate/migrations/scripts/migration_2.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  docker-compose.yaml
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/static/js/custom/utils.js
  frontend/webapp/templates/index.htm
  frontend/webapp/views/main/templates/hijacks.htm
  other/db/data/tables.sql
  other/postgres-entrypoint.sh
Labels: backend, database, frontend
