Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-03, with the labels that each got.

#120 Store (origin, neighbor) combinations of hijack BGP updates in redis (Closes #119)
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  backend/core/utils/__init__.py
Labels: backend, database, detection, p/medium

#123 Moving prefix rfc2622 translation in modules instead of configuration (Closes #122 #124)
  .env
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/mitigation.py
  backend/core/monitor.py
  backend/core/utils/__init__.py
  backend/migrate/migrations/scripts/migration_12.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/requirements.txt
  frontend/webapp/core/__init__.py
  frontend/webapp/core/fetch_config.py
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/utils.js
  frontend/webapp/templates/index.htm
  frontend/webapp/templates/layout.htm
  frontend/webapp/utils/__init__.py
  frontend/webapp/views/main/main_view.py
  frontend/webapp/views/main/templates/bgpupdates.htm
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
  frontend/webapp/views/main/templates/viz.htm
  other/db/data/tables.sql
Labels: backend, configuration, database, detection, frontend, mitigation, monitoring, p/medium

#132 Wait-for forever until the service is up
  backend/entrypoint
  backend/entrypoint.test
  backend/testing/entrypoint
  frontend/entrypoint
Labels: p/high

#134 Tester with multiple expected messages
  backend/testing/messages.json
  backend/testing/tester.py
  backend/testing/testfiles/withdrawn_complex.json
Labels: automation, p/high, testing

#136 Refactoring environment variables for easier k8s deployment
  .env
  .flake8
  .gitignore
  backend/core/database.py
  backend/core/listener.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  backend/entrypoint
  backend/entrypoint.test
  backend/migrate/migrate.py
  backend/testing/entrypoint
  backend/testing/tester.py
  docker-compose.yaml
  frontend/entrypoint
  frontend/webapp/configs/config.py
  frontend/webapp/core/fetch_config.py
  frontend/webapp/core/fetch_hijack.py
  frontend/webapp/core/proxy_api.py
  frontend/webapp/utils/__init__.py
  other/kubernetes.yaml
Labels: build, p/medium

#143 Automated script to generate kubernetes yaml
  backend/core/listener.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  backend/entrypoint
  backend/entrypoint.test
  backend/migrate/migrate.py
  backend/testing/entrypoint
  backend/testing/rabbitmq/enabled-plugins
  backend/testing/tester.py
  docker-compose.yaml
  frontend/entrypoint
  k8s.sh
  other/rabbitmq/enabled-plugins
Labels: automation, p/medium

#144 Do not accept BGP updates older than 1,5 hours (Resolves #135)
  CHANGELOG.md
  backend/core/taps/betabmp.py
  backend/core/taps/bgpstreamhist.py
  backend/core/taps/bgpstreamlive.py
  backend/core/taps/exabgp_client.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
  backend/docker-compose.test-backend.yml
  docker-compose.yaml
Labels: backend, p/high, taps

#146 Changed to use RIS firehose feed and one process for all prefixes
  CHANGELOG.md
  backend/core/monitor.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
Labels: p/high, taps

#105 LDAP support (Closes #108)
  CHANGELOG.md
  frontend/requirements.txt
  frontend/webapp/configs/config.py
  frontend/webapp/configs/webapp.cfg
  frontend/webapp/core/__init__.py
  frontend/webapp/data/models.py
  frontend/webapp/utils/ldap/__init__.py
  frontend/webapp/utils/ldap/datastore.py
  frontend/webapp/utils/ldap/forms.py
  other/sample.ldif
Labels: enhancement, frontend, p/high

#147 Helm-Chart for artemis (Resolves #145)
  .pre-commit-config.yaml
  CHANGELOG.md
  artemis-chart/Chart.yaml
  artemis-chart/README.md
  artemis-chart/files/configmaps/config.yaml
  artemis-chart/files/configmaps/enabled_plugins
  artemis-chart/files/configmaps/exabgp.conf
  artemis-chart/files/configmaps/init.sql
  artemis-chart/files/configmaps/logging.yaml
  artemis-chart/files/configmaps/nginx.conf
  artemis-chart/files/configmaps/postgres-entrypoint.sh
  artemis-chart/files/configmaps/restore.sql
  artemis-chart/files/configmaps/schema.sql
  artemis-chart/files/configmaps/services.conf
  artemis-chart/files/configmaps/tables.sql
  artemis-chart/files/configmaps/wait-for
  artemis-chart/files/configmaps/webapp.cfg
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/graphql-deployment.yaml
  artemis-chart/templates/nginx-deployment.yaml
  artemis-chart/templates/pg-amqp-bridge-deployment.yaml
  artemis-chart/templates/postgres-deployment.yaml
  artemis-chart/templates/postgrest-deployment.yaml
  artemis-chart/templates/pvc.yaml
  artemis-chart/templates/rabbitmq-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/templates/services.yaml
  artemis-chart/templates/volumes.yaml
  artemis-chart/values.yaml
  docker-compose.yaml
  k8s.sh
  other/example-values.yaml
Labels: automation, build, p/medium

#118 Remove Pickle for YAML
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  backend/core/taps/utils.py
  backend/core/utils/__init__.py
  backend/migrate/migrate.py
  backend/migrate/migrations/scripts/migration_unused.py
  backend/requirements.txt
  backend/testing/requirements.txt
  backend/testing/tester.py
  frontend/requirements.txt
Labels: backend, p/low, security

#130 Translate an ongoing hijack event into ARTEMIS configuration (Closes #22 #23 #24 #25)
  CHANGELOG.md
  backend/core/configuration.py
  frontend/webapp/core/actions.py
  frontend/webapp/core/fetch_hijack.py
  frontend/webapp/static/js/custom/actions.js
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/templates/index.htm
  frontend/webapp/views/actions/actions_view.py
  frontend/webapp/views/admin/templates/user_management.htm
  frontend/webapp/views/main/main_view.py
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
Labels: backend, configuration, enhancement, frontend, p/medium

#142 Support for stats table with monitored_prefixes entry (Closes #139)
  .env
  CHANGELOG.md
  backend/core/database.py
  backend/entrypoint
  backend/entrypoint.test
  backend/migrate/migrations/scripts/migration_13.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/templates/index.htm
  other/db/data/tables.sql
Labels: backend, database, frontend, monitoring, p/low

#150 add url_for on redirections (Closes #149)
  CHANGELOG.md
  frontend/webapp/templates/layout.htm
  frontend/webapp/views/actions/actions_view.py
  frontend/webapp/views/admin/admin_view.py
Labels: frontend, p/high

#157 Fixed redis BGP update bootstrap logic (Closes #155)
  CHANGELOG.md
  backend/core/database.py
Labels: backend, db, p/high

#158 Fixed RIPE RIS and exaBGP illegal starts (Closes #154)
  CHANGELOG.md
  backend/core/monitor.py
Labels: backend, configuration, monitoring, p/high, taps

#159 Support for configured_prefixes DB stat
  .env
  CHANGELOG.md
  backend/core/database.py
  backend/entrypoint
  backend/entrypoint.test
  backend/migrate/migrations/scripts/migration_14.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/webapp/static/js/custom/display_info.js
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/templates/index.htm
  other/db/data/tables.sql
Labels: backend, db, frontend

#160 Fixed SMTP logger
  backend/configs/logging.yaml
  backend/core/utils/__init__.py
Labels: bug, p/high
