Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-09, with the labels that each got.

#221 Various helm chart fixes and improvements
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/graphql-deployment.yaml
  artemis-chart/templates/ingresses.yaml
  artemis-chart/templates/monitor-deployment.yaml
  artemis-chart/templates/nginx-deployment.yaml
  artemis-chart/templates/nginx-service.yaml
  artemis-chart/templates/pg-amqp-bridge-deployment.yaml
  artemis-chart/templates/postgres-deployment.yaml
  artemis-chart/templates/postgrest-deployment.yaml
  artemis-chart/templates/pvc.yaml
  artemis-chart/templates/rabbitmq-deployment.yaml
  artemis-chart/templates/secrets.yaml
  artemis-chart/values.yaml
Labels: kubernetes

#217 Make backend container alpine (Resolves #214)
  backend/Dockerfile
  backend/entrypoint
  backend/entrypoint.test
Labels: build, container, p/medium

#225 Scaling up loading of millions of configured prefixes in db, detector, mitigation, monitor (pytricia)
  .flake8
  CHANGELOG.md
  README.md
  backend/core/database.py
  backend/core/detection.py
  backend/core/mitigation.py
  backend/core/utils/__init__.py
  backend/requirements.txt
  backend/testing/tester.py
  monitor/core/monitor.py
  monitor/core/taps/ripe_ris.py
  monitor/core/taps/utils.py
  monitor/core/utils/__init__.py
  monitor/requirements.txt
Labels: db, detection, mitigation, monitoring

#227 v6 tests
  CHANGELOG.md
  backend/testing/configs/config.yaml
  backend/testing/db/data/data.sql
  backend/testing/tester.py
  backend/testing/testfiles/legit_updates.json
  backend/testing/testfiles/mult_exact_type0.json
  backend/testing/testfiles/simple_sub_type0.json
Labels: backend, testing

#229 Adding labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: open-source-util

#232 Ensure ARTEMIS config file is not clobbered on pod restart
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/monitor-deployment.yaml
Labels: configuration, kubernetes

#238 Reset the modules to last known state upon restart
  .env
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/core/database.py
  backend/core/utils/__init__.py
  backend/hasura_init.json
  backend/migrate/migrations/scripts/migration_18.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/webapp/core/modules.py
  frontend/webapp/utils/__init__.py
  other/db/data/tables.sql
Labels: backend, database, frontend, kubernetes, testing

#235 Additional logging for outdated/withdrawn hijacks
  .env
  CHANGELOG.md
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/monitor-deployment.yaml
  artemis-chart/values.yaml
  backend/core/database.py
  backend/core/detection.py
  backend/core/utils/__init__.py
  backend/docker-compose.test-backend.yml
  docker-compose.yaml
  other/verify_script.py
Labels: backend, database, detection, kubernetes, testing
