Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-07, with the labels that each got.

#195 Updated configurations for k8s deployment
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/core/configuration.py
  backend/core/taps/utils.py
  docker-compose.yaml
  frontend/webapp/render/static/rrcs_info/collectors_info.json
Labels: build, p/high

#197 Added local pre-commit hook to check versioning (Resolves #196)
  .env
  .pre-commit-config.yaml
  artemis-chart/templates/rabbitmq-deployment.yaml
  backend/docker-compose.test-backend.yml
  docker-compose.yaml
  other/verify_script.py
Labels: build, p/high

#194 update hasura to v1.0.0-beta.3
  CHANGELOG.md
  artemis-chart/templates/graphql-deployment.yaml
  docker-compose.yaml
Labels: container, p/low

#201 updates in README, simplification of steps and wiki outsourcing
  README.md
Labels: docs, p/low

#209 Use normal image for testing
  backend/Dockerfile
  backend/Dockerfile.test
  backend/docker-compose.test-backend.yml
  backend/entrypoint.test
Labels: testing

#207 Use redis to signal monitor restart when not seeing anything for 1 hour
  .env
  CHANGELOG.md
  artemis-chart/templates/backend-deployment.yaml
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/core/detection.py
  backend/core/monitor.py
  backend/core/taps/betabmp.py
  backend/core/taps/bgpstreamlive.py
  backend/core/taps/exabgp_client.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
  backend/docker-compose.test-backend.yml
  backend/entrypoint
  backend/entrypoint.test
  docker-compose.yaml
Labels: monitoring, p/high

#212 Small fix to avoid detectors being stuck on blpop if token erased
  backend/core/detection.py
Labels: concurrency, detection

#204 Added bgpstream historical BGP record collector (per prefix)
  CHANGELOG.md
  other/bgpstream_retrieve_prefix_records.py
Labels: other
