Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-05, with the labels that each got.

#172 Added slack logger and a handler example
  CHANGELOG.md
  backend/configs/logging.yaml
  backend/requirements.txt
Labels: backend, configuration

#173 update hasura to 1.0.0-alpha45
  CHANGELOG.md
  artemis-chart/templates/graphql-deployment.yaml
  docker-compose.yaml
Labels: hasura

#174 artemis text logo (Resolves #169)
  CHANGELOG.md
  README.md
  docs/images/artemis_icon.png
  docs/images/artemis_logo.png
  frontend/webapp/render/static/images/artemis_logo_text.svg
  frontend/webapp/render/templates/base/layout.htm
  frontend/webapp/render/templates/base/layout_container.htm
Labels: frontend

#175 replace $.ajax with fetch (Resolves #148)
  CHANGELOG.md
  frontend/webapp/core/__init__.py
  frontend/webapp/core/proxy_api.py
  frontend/webapp/render/templates/main/config_comparison.htm
Labels: frontend

#180 DB stat on number of monitor peers
  .env
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  backend/hasura_init.json
  backend/migrate/migrations/scripts/migration_16.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/db/data/tables.sql
  frontend/webapp/render/static/js/custom/display_info.js
  frontend/webapp/render/templates/main/overview.htm
  other/db/data/tables.sql
Labels: db, frontend, p/low

#182 Preload application before forking workers (Resolves #181)
  frontend/entrypoint
Labels: bug, frontend
