Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-06, with the labels that each got.

#184 JSON dump the monitor event for easier parsing
  CHANGELOG.md
  backend/core/detection.py
  backend/core/utils/__init__.py
Labels: backend, p/high

#183 Implicit withdrawals for corrected AS-paths
  CHANGELOG.md
  backend/core/database.py
  backend/core/detection.py
  backend/core/utils/__init__.py
  backend/testing/testfiles/implicit_withdrawal.json
  frontend/webapp/render/static/js/custom/display_info.js
  frontend/webapp/render/static/js/custom/utils.js
  frontend/webapp/render/templates/main/bgpupdates.htm
  frontend/webapp/render/templates/main/hijack.htm
Labels: automation, db, detection, enhancement

#187 fixed bug in configuration (translation of hijacks to rules)
  CHANGELOG.md
  backend/core/configuration.py
Labels: backend, configuration

#188 Support for configured ASN ranges
  CHANGELOG.md
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/monitor.py
  backend/core/utils/__init__.py
  backend/testing/configs/config.yaml
  backend/testing/testfiles/as_range_tests.json
Labels: backend, configuration, db, detection, monitoring, p/medium

#191 fix issue with logo and update routeviews info
  frontend/webapp/render/static/images/artemis_logo_text.svg
  frontend/webapp/render/static/rrcs_info/collectors_info.json
  frontend/webapp/render/templates/base/layout.htm
  frontend/webapp/render/templates/base/layout_container.htm
Labels: frontend

#189 Community annotation support
  .env
  CHANGELOG.md
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/hasura_init.json
  backend/migrate/migrations/scripts/migration_17.sql
  backend/migrate/migrations/target_steps.json
  backend/testing/configs/config.yaml
  backend/testing/db/data/data.sql
  backend/testing/db/data/tables.sql
  backend/testing/testfiles/community_annotation.json
  docker-compose.yaml
  frontend/webapp/render/static/js/custom/display_info.js
  frontend/webapp/render/static/js/custom/graphql.js
  frontend/webapp/render/templates/main/hijack.htm
  other/db/data/tables.sql
Labels: backend, configuration, detection, p/medium
