Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2019-04, with the labels that each got.

#162 Delete hijacks functionality + frontend fixes (Closes #32 #131)
  .env
  CHANGELOG.md
  backend/core/database.py
  backend/testing/db/data/data.sql
  backend/testing/tester.py
  frontend/webapp/core/actions.py
  frontend/webapp/static/css/index.css
  frontend/webapp/static/js/custom/graphql.js
  frontend/webapp/static/js/custom/utils.js
  frontend/webapp/views/actions/actions_view.py
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
Labels: backend, frontend, p/medium

#141 Using prefix lists in monitor json file for taps (Closes #140)
  CHANGELOG.md
  backend/core/monitor.py
  backend/core/taps/betabmp.py
  backend/core/taps/bgpstreamhist.py
  backend/core/taps/bgpstreamlive.py
  backend/core/taps/exabgp_client.py
  backend/core/taps/ripe_ris.py
  backend/core/taps/utils.py
  backend/core/utils/__init__.py
Labels: backend, monitoring, p/low, taps

#165 abuse contact details + copy to clickboard (#163 #164)
  CHANGELOG.md
  DEPENDENCIES-LICENSES.md
  frontend/webapp/static/js/custom/ripestat.js
  frontend/webapp/templates/index.htm
  frontend/webapp/views/main/templates/bgpupdates.htm
  frontend/webapp/views/main/templates/hijack.htm
  frontend/webapp/views/main/templates/hijacks.htm
Labels: frontend

#170 update hasura to 1.0.0-alpha44
  CHANGELOG.md
  artemis-chart/templates/graphql-deployment.yaml
  docker-compose.yaml
Labels: hasura

#171 Ensure latest time_last and earliest time_started (Resolves #168)
  backend/core/database.py
  backend/testing/tester.py
  backend/testing/testfiles/out_of_order_withdraw.json
  backend/testing/testfiles/out_of_order_withdraw_same_peer.json
Labels: database, p/high, testing
