Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2020-05, with the labels that each got.

#374 Upgrade bgpstream to latest (closes #372)
  CHANGELOG.md
  monitor/Dockerfile
Labels: monitor, p/high

#375 Show that module is loading in UI
  .env
  .travis.yml
  CHANGELOG.md
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/listener.py
  backend/core/mitigation.py
  backend/core/observer.py
  backend/core/scheduler.py
  backend/core/utils/__init__.py
  backend/hasura_init.json
  backend/hasura_metadata/metadata.yaml
  backend/migrate/migrations/scripts/migration_21.sql
  backend/migrate/migrations/target_steps.json
  backend/requirements.txt
  docker-compose.testcafe.yaml
  docker-compose.yaml
  frontend/requirements.txt
  frontend/webapp/core/modules.py
  frontend/webapp/render/static/js/custom/graphql.js
  frontend/webapp/render/static/js/custom/utils.js
  frontend/webapp/render/templates/admin/system.htm
  frontend/webapp/render/templates/main/overview.htm
  monitor/core/monitor.py
  monitor/core/utils/__init__.py
  monitor/requirements.txt
  other/db/data/tables.sql
  testing/detection/db/data/tables.sql
  testing/entrypoint.test
  testing/rpki/db/data/tables.sql
  testing/testcafe/tests/simple-flow.js
  vagrant-vm/README.md
  vagrant-vm/show_artemis_url.sh
Labels: backend, database, detection, enhancement, frontend, javascript, kubernetes, mitigation, monitor

#383 Fix response code on 404 and 500
  backend/core/utils/__init__.py
  frontend/webapp/core/__init__.py
Labels: backend, frontend

#382 Added ZAP Passive/Active scanner on CI + Security Fixes
  .env
  .travis.yml
  CHANGELOG.md
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  frontend/webapp/configs/config.py
  frontend/webapp/configs/nginx.conf
  frontend/webapp/core/__init__.py
  frontend/webapp/render/static/images/400_not_found.png
  frontend/webapp/render/static/images/401_unauthorized.png
  frontend/webapp/render/templates/admin/system.htm
  frontend/webapp/render/templates/admin/user_management.htm
  frontend/webapp/render/templates/base/layout.htm
  frontend/webapp/render/templates/base/layout_container.htm
  frontend/webapp/render/templates/errors/400.htm
  frontend/webapp/render/templates/errors/404.htm
  frontend/webapp/render/templates/errors/500.htm
  frontend/webapp/render/templates/main/bgpupdates.htm
  frontend/webapp/render/templates/main/config_comparison.htm
  frontend/webapp/render/templates/main/hijack.htm
  frontend/webapp/render/templates/main/hijacks.htm
  frontend/webapp/render/templates/main/overview.htm
  frontend/webapp/render/views/errors_view.py
  frontend/webapp/render/views/main_view.py
  testing/testcafe/tests/simple-flow.js
Labels: configuration, frontend, kubernetes, security

#387 Added Select Page button
  CHANGELOG.md
  frontend/webapp/render/templates/main/hijacks.htm
Labels: enhancement, frontend

#388 Added GUNICORN_WORKERS and RABBITMQ_IO_THREAD_POOL_SIZE
  .env
  CHANGELOG.md
  artemis-chart/templates/configmap.yaml
  artemis-chart/templates/frontend-deployment.yaml
  artemis-chart/templates/rabbitmq-deployment.yaml
  artemis-chart/values.yaml
  docker-compose.benchmark.yaml
  docker-compose.testautoconf.yaml
  docker-compose.testcafe.yaml
  docker-compose.testdetection.yaml
  docker-compose.testrpki.yaml
  docker-compose.yaml
  frontend/entrypoint
  other/verify_script.py
Labels: enhancement, frontend, kubernetes

#389 Moved to flask headers from nginx to cover kubernetes deployment
  frontend/requirements.txt
  frontend/webapp/configs/nginx.conf
  frontend/webapp/core/__init__.py
  frontend/webapp/render/templates/admin/system.htm
  frontend/webapp/render/templates/admin/user_management.htm
  frontend/webapp/render/templates/base/base.htm
  frontend/webapp/render/templates/main/bgpupdates.htm
  frontend/webapp/render/templates/main/config_comparison.htm
  frontend/webapp/render/templates/main/hijack.htm
  frontend/webapp/render/templates/main/hijacks.htm
  frontend/webapp/render/templates/main/overview.htm
  frontend/webapp/render/templates/main/viz.htm
  frontend/webapp/render/templates/security/login_user.html
  frontend/webapp/render/templates/security/new_password.htm
  frontend/webapp/render/templates/security/register_user.html
Labels: configuration, frontend
