Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2020-07, with the labels that each got.

#415 fix: override BGPSTREAM timestamp when not parsed correctly
  monitor/core/taps/bgpstreamkafka.py
Labels: bug, monitor, p/high, taps

#412 fix: delete roles when deleting user
  frontend/webapp/render/views/actions_view.py
Labels: bug, frontend

#418 GRAPHQL_URI env support (close/fix #416)
  CHANGELOG.md
  backend/core/utils/__init__.py
  docker-compose.yaml
  frontend/webapp/utils/__init__.py
  monitor/core/utils/__init__.py
Labels: backend, bug, configuration, frontend, monitor

#410 RADIUS support (Closes #409)
  CHANGELOG.md
  frontend/requirements.txt
  frontend/webapp/configs/config.py
  frontend/webapp/configs/webapp.cfg
  frontend/webapp/utils/radius/__init__.py
  frontend/webapp/utils/radius/datastore.py
  frontend/webapp/utils/radius/dictionary
  frontend/webapp/utils/radius/forms.py
Labels: enhancement, frontend

#420 fix: added connect-src for wss connection
  .env
  artemis-chart/templates/frontend-deployment.yaml
  docker-compose.testcafe.yaml
  docker-compose.yaml
  frontend/webapp/core/__init__.py
  vagrant-vm/vagrant-docker-compose.yaml
Labels: bug, security
