Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2020-10, with the labels that each got.

#439 Implicit withdrawals are now generated also on correct subprefix routing
  backend/core/database.py
  backend/core/detection.py
  backend/core/tests/test_detection.py
  testing/autoignore/tester.py
  testing/detection/configs/config.yaml
  testing/detection/tester.py
  testing/detection/testfiles/implicit_withdrawal_subprefix.json
  testing/rpki/tester.py
Labels: detection

#442 docs: added mkdocs documentation
  .readthedocs.yml
  README.md
  docs/architecture.md
  docs/autoconfiguration.md
  docs/basicconf.md
  docs/bestpractices.md
  docs/bgpupdateinfo.md
  docs/changelog.md
  docs/commannotations.md
  docs/customtap.md
  docs/dbrestore.md
  docs/decouplingmicroservices.md
  docs/envvars.md
  docs/faq.md
  docs/frontendconf.md
  docs/gettingstarted.md
  docs/grafanadash.md
  docs/graphqlapi.md
  docs/hijackinfo.md
  docs/images/artemis_system_overview.jpg
  docs/images/artemis_system_overview_old.png
  docs/index.md
  docs/kubernetes.md
  docs/ldapconf.md
  docs/loggingconf.md
  docs/overview.md
  docs/redisinfo.md
  docs/rpkivalidconf.md
  docs/uioverview.md
  docs/vagrant.md
  mkdocs.yml
  other/doc-requirements.txt
Labels: docs

#447 FAQ Docs update for download failures in container
  docs/faq.md
Labels: docs

#453 travis.yml to include fork container creation and CI tests
  .travis.yml
Labels: build, p/high

#449 New table (dataplane_msms) and view (view_dataplane_msms) creation for hijack dataplane measurements (pings and traceroutes) #448
  .env
  artemis-chart/templates/configmap.yaml
  artemis-chart/values.yaml
  backend/hasura_init.json
  backend/migrate/migrations/scripts/migration_22.sql
  backend/migrate/migrations/target_steps.json
  other/db/data/tables.sql
  testing/detection/db/data/tables.sql
  testing/testcafe/tests/simple-flow.js
Labels: db

#457 Added coverage for unit-tests
  .travis.yml
  testing/.coveragerc
Labels: coverage, testing

#437 Proof of Concept deaggregation mechanism using exaBGP
  backend/core/configuration.py
  backend/requirements.txt
  docker-compose.pocmitigatedeaggregate.yaml
  poc_mitigate_deaggregate/README.md
  poc_mitigate_deaggregate/configs/artemis/config.yaml
  poc_mitigate_deaggregate/configs/artemis/logging.yaml
  poc_mitigate_deaggregate/configs/exabgp/monitor.conf
  poc_mitigate_deaggregate/configs/exabgp/routecommander.conf
  poc_mitigate_deaggregate/configs/gobgp/r03.conf
  poc_mitigate_deaggregate/configs/gobgp/r04.conf
  poc_mitigate_deaggregate/configs/gobgp/r05.conf
  poc_mitigate_deaggregate/configs/gobgp/r06.conf
  poc_mitigate_deaggregate/custom_exa_entrypoint.sh
  poc_mitigate_deaggregate/dockers/gobgp/Dockerfile
  poc_mitigate_deaggregate/poc_mitigate_deaggregate.py
  poc_mitigate_deaggregate/route_command_server.py
Labels: automation, mitigation, p/medium

#451 Prepend sequence pattern matching plus in-unit-test rules
  backend/core/configuration.py
  backend/core/detection.py
  backend/core/tests/test_configuration.py
  backend/core/tests/test_detection.py
  docs/basicconf.md
  docs/hijackinfo.md
  frontend/webapp/render/static/js/custom/display_info.js
  frontend/webapp/render/templates/main/hijacks.htm
  frontend/webapp/render/templates/main/overview.htm
Labels: configuration, detection, testing

#444 Refactor: Change exchange / queue names
  backend/core/autoignore.py
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/mitigation.py
  backend/core/observer.py
  backend/core/scheduler.py
  backend/core/utils/conf_lib_util.py
  backend/core/utils/db_util.py
  backend/core/utils/rabbitmq_util.py
  backend/entrypoint
  frontend/webapp/core/actions.py
  monitor/core/monitor.py
  monitor/core/taps/bgpstreamhist.py
  monitor/core/taps/exabgp_client.py
  monitor/core/utils/rabbitmq_util.py
  monitor/entrypoint
  testing/autoconf/tester.py
  testing/autoignore/tester.py
  testing/detection/tester.py
  testing/rpki/Dockerfile
  testing/rpki/tester.py
Labels: refactor

#465 fix: observer fix for thread issues
  backend/core/observer.py
Labels: backend, bug, p/high

#445 Moving utility functions to external python package (hosted in pypi)
  backend/core/autoignore.py
  backend/core/configuration.py
  backend/core/database.py
  backend/core/detection.py
  backend/core/mitigation.py
  backend/core/observer.py
  backend/core/scheduler.py
  backend/requirements.txt
  docs/customtap.md
  monitor/core/monitor.py
  monitor/core/taps/bgpstreamhist.py
  monitor/core/taps/bgpstreamkafka.py
  monitor/core/taps/bgpstreamlive.py
  monitor/core/taps/exabgp_client.py
  monitor/core/taps/ripe_ris.py
  monitor/core/utils/__init__.py
  monitor/core/utils/rabbitmq_util.py
  monitor/requirements.txt
  utils/.gitignore
  utils/README.md
  utils/artemis_utils/__init__.py
  utils/artemis_utils/conf_lib_util.py
  utils/artemis_utils/db_util.py
  utils/artemis_utils/rabbitmq_util.py
  utils/setup.py
Labels: backend, frontend, testing

#466 Observer fix v2
  backend/core/observer.py
Labels: backend, bug, p/high

#468 Monitor utils hotfix
  backend/core/configuration.py
  backend/core/detection.py
  backend/requirements.txt
  monitor/core/taps/utils.py
  monitor/requirements.txt
  utils/LICENSE.txt
  utils/artemis_utils/__init__.py
  utils/setup.py
Labels: bug, build, monitor, p/high
