Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2020-04, with the labels that each got.

#348 Rpki fix
  CHANGELOG.md
  docker-compose.routinator.yaml
  tester/rpki/Dockerfile
Labels: bug, container, rpki

#350 Disabling coverage run on autoconf, using simple python instead
  CHANGELOG.md
  tester/autoconf/supervisor.d/services.conf
  tester/autoconf/tester.py
  tester/detection/supervisor.d/services.conf
  tester/rpki/supervisor.d/services.conf
Labels: autoconf, bug, testing

#352 Fix for autoconf observer crash bug
  CHANGELOG.md
  backend/core/observer.py
Labels: autoconf, backend, p/high

#354 Fix LIMIT query planner bug
  CHANGELOG.md
  backend/core/database.py
Labels: backend, database, p/high

#355 Added application names on postgres connections
  CHANGELOG.md
  backend/core/database.py
  backend/core/listener.py
  backend/core/utils/tool.py
  backend/migrate/migrate.py
  backend/migrate/migrations/scripts/migration_unused.py
  docker-compose.yaml
  monitor/core/listener.py
  tester/autoconf/tester.py
  tester/detection/tester.py
  tester/rpki/tester.py
Labels: backend, database, enhancement, monitor, p/medium

#360 Upgrade nginx to latest released version (v1.17)
  CHANGELOG.md
  artemis-chart/templates/nginx-deployment.yaml
  docker-compose.testcafe.yaml
  docker-compose.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

#359 Upgrade rabbitmq to latest released version (v3.8.3)
  CHANGELOG.md
  artemis-chart/templates/rabbitmq-deployment.yaml
  docker-compose.benchmark.yaml
  docker-compose.testautoconf.yaml
  docker-compose.testcafe.yaml
  docker-compose.testdetection.yaml
  docker-compose.testrpki.yaml
  docker-compose.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

#358 Upgrade postgrest to latest released version (v7.0.0)
  CHANGELOG.md
  artemis-chart/templates/postgrest-deployment.yaml
  docker-compose.testcafe.yaml
  docker-compose.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

#356 Upgrade hasura-engine to latest released version (v1.1.0)
  CHANGELOG.md
  artemis-chart/templates/graphql-deployment.yaml
  docker-compose.testcafe.yaml
  docker-compose.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: kubernetes

#344 update login css to resolve rendering issue
  frontend/webapp/render/static/css/signin.css
Labels: frontend
