Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2020-06, with the labels that each got.

#399 add BMP monitor for pre-policy monitoring from local routers
  .travis.yml
  docker-compose.openbmp.yaml
  monitor/core/taps/bgpstreamkafka.py
  other/openbmp/openbmpd.conf
Labels: bmp, monitor

#403 Move base images to a monorepo
  backend/Dockerfile
  frontend/Dockerfile
  monitor/Dockerfile
Labels: backend, build, frontend, monitor

#404 feat: redirect to login page when session expires
  CHANGELOG.md
  frontend/webapp/render/static/js/custom/actions.js
  frontend/webapp/render/templates/admin/system.htm
Labels: frontend, javascript

#405 feat: initial unit test for detection BGP handle
  .flake8
  .pre-commit-config.yaml
  .travis.yml
  backend/Makefile
  backend/core/database.py
  backend/core/detection.py
  backend/core/tests/__init__.py
  backend/core/tests/test_detection.py
Labels: backend, database, detection, testing
