Repository FORTH-ICS-INSPIRE/artemis, pull requests merged in 2021-01, with the labels that each got.

#559 added correct redis command in compose to read conf file on startup
  artemis-chart/templates/redis-deployment.yaml
  backend-services/configs/redis.conf
  docker-compose.benchmark.yaml
  docker-compose.testautoconf.yaml
  docker-compose.testautoignore.yaml
  docker-compose.testdetection.yaml
  docker-compose.testrpki.yaml
  docker-compose.yaml
  docs/changelog.md
  docs/installsetup.md
  other/docker-compose.testcafe.yaml
  vagrant-vm/vagrant-docker-compose.yaml
Labels: redis

#557 Tap redis expiry checkers (no-data-received)
  .env
  backend-services/autoignore/requirements.txt
  backend-services/autostarter/requirements.txt
  backend-services/configuration/requirements.txt
  backend-services/database/requirements.txt
  backend-services/detection/requirements.txt
  backend-services/fileobserver/requirements.txt
  backend-services/mitigation/requirements.txt
  backend-services/notifier/requirements.txt
  backend-services/prefixtree/requirements.txt
  docs/changelog.md
  docs/envvars.md
  monitor-services/bgpstreamhisttap/requirements.txt
  monitor-services/bgpstreamkafkatap/core/bgpstreamkafka.py
  monitor-services/bgpstreamkafkatap/requirements.txt
  monitor-services/bgpstreamlivetap/core/bgpstreamlive.py
  monitor-services/bgpstreamlivetap/requirements.txt
  monitor-services/exabgptap/core/exabgp_client.py
  monitor-services/exabgptap/requirements.txt
  monitor-services/riperistap/core/ripe_ris.py
  monitor-services/riperistap/requirements.txt
  utils/artemis_utils/redis.py
  utils/setup.py
Labels: monitor, redis, taps

#563 Reconfiguration flag and status in health + responsive config save
  backend-services/autoignore/core/autoignore.py
  backend-services/autostarter/core/autostarter.py
  backend-services/configuration/core/configuration.py
  backend-services/database/core/database.py
  backend-services/detection/core/detection.py
  backend-services/fileobserver/core/observer.py
  backend-services/mitigation/core/mitigation.py
  backend-services/notifier/core/notifier.py
  backend-services/prefixtree/core/prefixtree.py
  docs/changelog.md
  frontend/webapp/core/modules.py
  monitor-services/bgpstreamhisttap/core/bgpstreamhist.py
  monitor-services/bgpstreamkafkatap/core/bgpstreamkafka.py
  monitor-services/bgpstreamlivetap/core/bgpstreamlive.py
  monitor-services/exabgptap/core/exabgp_client.py
  monitor-services/riperistap/core/ripe_ris.py
Labels: autoignore, configuration, db, notifier, prefixtree, taps

#565 Hijack JSON export functionality
  docs/changelog.md
  docs/hijackinfo.md
  frontend/webapp/render/templates/main/hijack.htm
Labels: enhancement, frontend, p/low

#498 Introduce Makefile/healthcheks
  .github/workflows/builder.yml
  .travis.yml
  Makefile
  artemis-chart/values.yaml
  docker-compose.yaml
  docs/changelog.md
  other/make_release.sh
  testing/.coveragerc
  vagrant-vm/vagrant-docker-compose.yaml
Labels: build
